@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
    background-color: #f5f6fa;
}

/* styles */

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
   width: 80%;
}

/* style for header*/

.header {
    display: flex;
}

.header-h1 {
    color: #0290ff;
    font-family: Montserrat;
    font-size: 35px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 10px;
    font-size: 20px;
    margin-top: 35px;
}

.nav-item {
    text-decoration: none;
    color: #121212;
    font-family: Montserrat;
}

/* style for books */

.add-book-h2 {
    color: #888888;
    font-family: Montserrat;
}

.form {
    display: flex;
    gap: 20px;
}

.input-title {
    padding: 10px;
    width: 400px;
}

.input-category {
    padding: 10px;
}

.add-book-btn {
    width: 100px;
    background-color: #0290ff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

/* style for categories */
